figure[data-chart-legend] {
  figcaption {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    text-transform: uppercase;

    header {
      display: block;
    }

    h5 {
      margin: 0;
      font-family: var(--font-mono);
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }

    span:is([data-chart="unit"], [data-chart="separator"]) {
      color: var(--gray);
    }

  }

  &:fullscreen {
    figcaption {
      h5 {
        color: var(--white);
        font-family: var(--font-serif);
        font-size: 2rem;
        text-transform: none;
      }
    }
  }

  svg [data-series][data-muted] {
    opacity: 0.2;
  }

  svg [data-series][data-preview] {
    opacity: 1;
  }
}
